/* .headNav {
    position: fixed
} */
.nav-bar-links {
    color: #ffffff;
    padding: 5px; 
    text-decoration: none; 
    position: relative;
    left: 61.5%; 
    border-radius: 5%;
}

a:hover {
    text-decoration: none;
}

.nav-bar-sign-up {
    background-color: #ffffff;
    color: #db6f68;
    padding: 5px; 
    border-radius: 5%;
    text-decoration: none;
    position: relative;
    left: 62%
}

.nav-bar-sign-up:hover {
    background-color: #F57A00;
    color: #ffffff;
}

.nav-bar-links:hover {
    background-color: #F57A00;
    color:#ffffff ;
   

}