.login-body {
    background-image: url("./images/blackboard.jpg");
    background-size: cover; 
    height: 880px;
    width: 100%;
    text-align: center; 
}



h4 {
    color: #ffffff;
    text-align: center; 
    position: relative;
    top: 24%; 

}

.col-1 {
    text-align: center; 
}


.col-7 {
    width: 25%;

}
.btn {
    
    color: white; 
    background: #db6f68;
    /* margin: 5%; */

}


.register-div {
    color: #ffffff;
}

.form-label {
    color: #ffffff; 
    /* text-align: center;  */

}

.form-input {
    border-radius: 5%; 
    width: 60%;
    border: 3px solid #db6f68;
    background: none; 
    color: white; 
    
}

.form-group {

    /* text-align: center; */
    position: relative; 
    left: 38%;
    top: 650%;

}

.register-div {
    position: relative;
    right: 37.25%; 
}
