

.body {
    background-image: url("./images/chalkboard.png");
    background-size: cover
}

.header1 {
    position: relative;
    top: 100px;
    margin: auto;
    margin-bottom: 20px;
    background: rgb(255,255,255, 0.6);
    width: 40%;
    text-align: center;
    font-size: 50px;


}

.header2 {
    position: relative;
    top: 100px;
    margin: auto;
    background: rgb(255,255,255, 0.6);
    width: 20%;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-style: italic
}

#welcomeMsg {
    position: relative;
    top: 100px;
    margin: auto;
    background: rgb(31,31,31, 0.6);
    width: 20%;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    color: white;
}